
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eagle Lake', cursive;
}
html {
  scroll-behavior: smooth;

}

p {
  margin-top: .2em;
  line-height: 1.2em;
}

q, p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  
  height: auto;
}

.hero {
  width: 100%;
  position: sticky;
  z-index: -10;
  top: 0;
}

.hero div {
  font-family: 'Eagle Lake', cursive;
  color: white;
  font-size: 2em;
  width: 100%;
  text-align: center;
  top: 30%;
  text-shadow: 2px 2px black;
  position: absolute;
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.hero video {
  display: block;
  width: 100%;
  margin: 0 auto; 
  filter:saturate(1.3), sepia(0);

}

#down-arrow {
  width: 50px;
  position: relative;
  top: 30vh;

  animation: hop-up-ned 1s ease-in 3s infinite alternate;
}

#video {
  position: sticky;
  z-index: -10;
  top: 0;
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.paralax {
  width: 100%;

}

.paralax video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paralax button{
  font-size: 3em;
  width: 80px;
  height: 80px;
  color: white;
  background-color: rgb(204, 25, 25);
  border: none;
  border-radius: 50%;
  margin: 20px;
}

.paralax button:hover {
  background-color: rgb(153, 19, 19);
}

.paralax button:focus {
  background-color: rgb(192, 43, 24);
}



#mustafa {
  display: flex;
  width: 70%;
  justify-content: space-around;
  padding: 2em;
  margin: 0 auto;
}

#mustafa video {
  width: 600px;
}

.tekst {
  padding: 1em;
  padding-top: 0;
  margin-left: 2em;
}
.tekst p {
  margin-bottom: 1em;
}

.interview {
  width: 100%;
  height: auto;
  background-color: white;
  /* margin-top: 100vh;  */
  padding: 100px 0;


}

/* Udtalser */
.bruger-interviews {
  text-align: center;
  padding: 4em;
  background-color: white;
}

.kunderne {
  display: flex;
  flex-flow: row wrap;
  vertical-align: middle;
  margin-top: 50px;
}

.kunde {
  width: 20%;
  margin: 0px auto;
}

.kunde img {
  margin-bottom: 2em;
  
}


.bruger-interviews img {
  width: 50%;
  border-radius: 50%;
}

#til-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  right: 50px;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

#til-top a{
 color: white;
 text-decoration: none;
}

#til-top:hover {
  background-color:#8dc17b;
  
}



/* SLIDE SHOW */
.mySlides {
  height: 100%;
  display: none;
  
}
.mySlides img {
  width: 100%;
 max-height: 600px;
 object-fit: cover;
 object-position: center;
  vertical-align: middle;
  
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 15;
  margin: auto;
  background-color: coral;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.controls-slide {
  text-align: center;
  /* margin-top: 300px; */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hop-up-ned {
  from {
    transform: translateY(0px)
  } to {
    transform: translateY(-20px)
  }
}
@-webkit-keyframes hop-up-ned {
  from {
    transform: translateY(0px)
  } to {
    transform: translateY(-20px)
  }
}






